:root {
    --corTexto: #000000;
    --corFundo: #314258;
    --corNavigation: #424242;
}

* {
    font-size: 0px;
    margin: 0px;
    padding: 0px;

}

.navigation {
    height: 50px;
    background-color: var(--corNavigation);
    box-shadow: 1px 1px 10px 4px black;
    margin:2px 0px 4px 0px;
}

.navigation ul {
    text-align: right;
}

.navigation li {
    font-size: 25px;
    display: inline-block;
    color: white;
    margin: 10px 40px 10px 10px;
}

body {
    height: 800px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: var(--corTexto);
    margin: 50px 0px;
    padding: 10px 10px 10px 35%;
    width: 200px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile img {
    width: 250px;
    border-radius: 100%;
    margin: 0px 0px 40px 0px;
    border: solid 3px white;
}
.leftDiv {
    height: 100%;
    font-size: 16px;
    width: 80%;
    display: inline-block;
    background-color: var(--corFundo);
}

.contact {
    display: inline-block;
    width: 20%;
    height: 500px;
    vertical-align: top;
    background-color: red;
}

.contact li{
    font-size: 20px;
    list-style: none;
}

.profile {
    width: fit-content;
    margin: 50px auto;
}

.descriptionSection p {
    font-size: 16px;
    text-align: justify;
    color: var(--corTexto);
    background-color: rgb(252, 255, 103);
    padding: 30px 80% 30px 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}