:root {
    --corTexto: rgb(0, 0, 0);
}

* {
    font-size: 0px;
    margin: 0px;
    padding: 0px;

}

body {
    height: max-content;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: var(--corTexto);
    margin: 50px 0px;
    padding: 10px 10px 10px 35%;
    width: 200px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.imgDiv img {
    width: 250px;
    border-radius: 100%;
    margin: 0px 0px 40px 0px;
    border: solid 3px white;
}
.leftDiv {
    height: 100%;
    font-size: 16px;
    width: 50%;
    display: inline-block;
    background-color: rgb(44, 44, 44);
}

.profile {
    width: fit-content;
    margin: 50px auto;
}

.descriptionDiv {
    width: 100%;
}
.descriptionDiv p {
    font-size: 16px;
    width: 250px;
    text-align: justify;
    color: var(--corTexto);
    background-color: white;
    padding: 30px 300% 30px 30px;
    margin: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rightDiv {
    vertical-align: top;
    width: 50%;
    height: 95%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

.rightDiv h2 {
    font-size: 80px;
}

.content ul, li{
    list-style: none;
    font-size: 25px;
    margin: 10px auto 20px auto;
}

.content {
    text-align: center;
    width: 400px;
    margin: 100px auto 0px auto;
}